<head>
  <script type="text/javascript">
    $(document).ready(function(){
      $('input').change(function(){
        // You have <options checked> chances in six.
        var chance = (
          $('#game_bet_on_1').prop('checked') +
          $('#game_bet_on_2').prop('checked') +
          $('#game_bet_on_3').prop('checked') +
          $('#game_bet_on_4').prop('checked') +
          $('#game_bet_on_5').prop('checked') +
          $('#game_bet_on_6').prop('checked')) / 6;
        // You're ready to roll if you've entered an amount, and you've selected some but not all of the options.
        var ready_to_roll = !!$('#game_amount').val() && chance > 0 && chance < 1;
        // Enable the button if you're ready to roll.
        $('#game_roll_button').attr('disabled', !ready_to_roll);
        // Show the odds if you're ready to roll.
        $('#game_calc').toggle(ready_to_roll);
        // Calculate your odds
        $('#game_chances').text(Math.round(100 * chance));
        // And how much you'll win. 
        $('#game_payout').text(Math.round($('#game_amount').val() * (1 / chance - 1)));
      }).change();
    });
  </script>
</head>

<h1>Roll to win with Fly Buys!</h1>

<p>
  <strong>Hi <%= current_user['name'] %>!</strong> Choose your numbers and roll the dice. If one of your numbers comes up, you win - and the more numbers you choose, the higher your chances of winning! You have <%= current_user['points'] %> points.
</p>

<p>
</p>

<form action="/play" method="post">
  <div class="row">
    <div class="col-xs-7 col-md-5">
      <label for="game_amount">How many points would you like to bet?</label>
      <input id="game_amount" name="game[amount]" type="number" min="1" max="<%= current_user['points'] %>">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7 col-md-5">
      <label>What numbers would you like to bet on?</label>
      <div class="col-xs-6">
        <input type="checkbox" id="game_bet_on_1" name="game[bet_on][1]">
        <label for="game_bet_on_1">1</label>
        <input type="checkbox" id="game_bet_on_2" name="game[bet_on][2]">
        <label for="game_bet_on_2">2</label>
        <input type="checkbox" id="game_bet_on_3" name="game[bet_on][3]">
        <label for="game_bet_on_3">3</label>
      </div>
      <div class="col-xs-6">
        <input type="checkbox" id="game_bet_on_4" name="game[bet_on][4]">
        <label for="game_bet_on_4">4</label>
        <input type="checkbox" id="game_bet_on_5" name="game[bet_on][5]">
        <label for="game_bet_on_5">5</label>
        <input type="checkbox" id="game_bet_on_6" name="game[bet_on][6]">
        <label for="game_bet_on_6">6</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="game_calc" class="hidden col-xs-12">
      Good choice! You have a <span id="game_chances">0</span>% chance of winning <span id="game_payout">Infinity</span> more points.
    </div>
  </div>
  <div>
    <input id="game_roll_button" class="action-account-footer" type="submit" value="Roll!" disabled="disabled">
  </div>
</form>

Are you aware that you can get Fly Buys points from BNZ, Z, New World, and a whole lot of other places?

You can check out the rewards you can get right here at <a href="http://flybuys.co.nz">flybuys.co.nz</a>.
