<head>
  <link href="https://d2dy5irbmy4k6r.cloudfront.net/assets/green/public/application-05f16475a942ab4b7c792a43e40c3975.css" media="all" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
</head>

<a href="/logout" class="pull-right">Log out</a>

<%= yield %>
