<form action="/login" method="post">
  <label for="id">Member ID</label><input type="text" id="id" name="id">
  <label for="card">Card number</label><input type="text" id="card" name="card">
  <input type="submit" value="Log in">
</form>
