<form action="/login" method="post">
  <label for="name">Member name</label><input type="text" id="name" name="name">
  <label for="card">Card number</label><input type="text" id="card" name="card">
  <input type="submit" value="Log in">
</form>
