<form action="/login" method="post">
  <label for="name">Name</label><input type="text" id="name" name="name">
  <label for="card">Card number</label><input type="text" id="card" name="card">
  <input type="submit" value="Log in" class="action-account-footer">
</form>
