<h1>
  <%= @success ? 'Congratulations, you won!' : 'Sorry, you lost.' %>
</h1>

<p>Your balance is now <%= current_user['points'] %>. Would you like to play again?</p>

<p><a href="/">Play again!</a> - <a href="http://flybuys.co.nz">No thanks.</a></p>
